<app-header></app-header>

<main>
    <ul id="users">
        @for (user of users; track user.id) {
            <li>
                <app-user [user]="user"[selected]="user.id==selectedUserId" (select)="onSelectUser($event)"></app-user>
            </li>
        }
        <!-- 
        Structural Directives
        <li *ngFor="let user of users">
                <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
            </li>
        
        -->
    </ul>
    @if(selectedUser){
    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
    <!-- <app-tasks [name]="selectedUser?.name"></app-tasks> to maintain that name might not be provided-->
    }
    @else {
        <p id="fallback"> Select the User to view task.</p>
    }
</main>